resources:
- type: compute.v1.network
  name: {{ env["name"] }}
  properties:
     autoCreateSubnetworks: false
- type: compute.v1.subnetwork
  name: {{ env["name"] }}
  properties:
    network: $(ref.{{ properties["name"] }}.selfLink)
    ipCidrRange: {{ range }}
    region: {{ properties["region"] }}
